<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('단어 등록')}"></head>
<body>
<div th:replace="~{fragments/layout :: header}"></div>

<h1>새 단어 등록</h1>

<form th:action="@{/words}" th:object="${wordRequest}" method="post">
  <div>
    <label>단어</label>
    <input type="text" th:field="*{vocabulary}">
    <span th:if="${#fields.hasErrors('vocabulary')}" th:errors="*{vocabulary}" style="color:red;"></span>
  </div>
  <div>
    <label>뜻</label>
    <input type="text" th:field="*{meaning}">
    <span th:if="${#fields.hasErrors('meaning')}" th:errors="*{meaning}" style="color:red;"></span>
  </div>
  <div>
    <label>예문</label>
    <input type="text" th:field="*{exampleSentence}">
    <span th:if="${#fields.hasErrors('exampleSentence')}" th:errors="*{exampleSentence}" style="color:red;"></span>
  </div>
  <button type="submit">등록</button>
</form>

<a href="/words">목록으로</a>
</body>
</html>
